<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Dark Timeline</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav mr-auto">
            <a href="/?p=0" class="nav-item nav-link">Pre-Season 1</a>
            <a href="/?p=1" class="nav-item nav-link">Season 1</a>
            <a href="/?p=2" class="nav-item nav-link">Season 2</a>
            <a href="/?p=3" class="nav-item nav-link">Season 3</a>
            <a href="/?p=4" class="nav-item nav-link">Alt-World</a>
            <a href="/familyTree" class="nav-item nav-link">Family  Tree</a>
            <a href="/faq" class="nav-item nav-link">F.A.Q.</a>
            <a class="nav-item nav-link" data-toggle="modal" data-target="#aboutModal">About</a>
        </div>
        <div class="navbar-nav">
            {{#if hasTimeline}}
            <a id="legendToggle" class="nav-item nav-link">Toggle Legend</a>
            <a href="/editor" class="nav-item nav-link">Edit</a>
            {{/if}}
        </div>
    </div>
</nav>

<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">About this site</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This website was created in 2020 by <a href="https://www.benhagle.com">Ben Hagle</a>. Please contact me at <a href="mailto:ben.hagle@gmail.com">ben.hagle@gmail.com</a> for corrections, comments, or suggestions.</p>
        <p>This is an unofficial fansite that is in no way affiliated with Netflix or Dark. I do not claim ownership of any materials displayed on this website. No copyright infringement is intended.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>