<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>Dark Timeline</title>
        <script src="/dist/style.js">
        <script src="/dist/index.js"></script>
    </head>
    <body>
        {{> navbar}}
        {{{body}}}
    </body>
</html>