<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>Dark Timeline - Editor</title>
        <script src="/dist/style.js">
        <script src="/dist/index.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
        <script src="https://kit.fontawesome.com/b402686566.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {{> navbar}}
        {{{body}}}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    </body>
</html>