<div id="app" class="row m-0">
    <div id="chart" class="col">
        <canvas id="timeline"></canvas>
    </div>
    <div id="legend" class="col-xl-4 col-lg-5">
        <div id="legendMeta">
            <h4>Legend:</h4>
            <div class="form-check mb-2" id="showExtraTimelinesContainer">
                <input type="checkbox" class="form-check-input" id="showExtraTimelines">
                <label class="form-check-label" for="showExtraTimelines"> Show Extraneous Timelines</label>
            </div>
        </div>
        <div id="legendContent"></div>
    </div>
</div>
<script src="/dist/timeline.js"></script>