<div id="app" class="row m-0">
    <div id="chart" class="col">
        <canvas id="timeline"></canvas>
    </div>
    <div id="legend" class="col-xl-3 col-lg-5 ml-lg-0 ml-3">
        <div id="legendMeta">
            <h4>Legend:</h4>
        </div>
        <div id="legendContent"></div>
    </div>
</div>  
<script src="/dist/timeline.js"></script>