html{
    margin: 0 !important;
    padding: 0 !important;
}

body{
	padding-top: 56px !important;
}

#app{
    height: 93vh;
    background-color: #6c6b6f;  
}

#chartjs-tooltip{
    width: 20rem;
}