@import "custom";
@import "~bootstrap/scss/bootstrap";

html{
    margin: 0 !important;
    padding: 0 !important;
}

body{
    padding-top: 56px !important;
}

#app{
    position: absolute;
    top: 56px;
    width: 100%;
    left:0;
    background-color: #6c6b6f;
}

#chart{
    height: calc(100vh - 56px);
    padding-right: 7px;
    padding-left: 0;
}

#chartjs-tooltip{
    width: 20rem;
}

#legend{
    padding: 5px;
    height: calc(100vh - 56px);
    display: flex;
    transition:flex 0.3s ease-out;
    flex-flow: column nowrap;
    overflow: hidden;
    
    #legendMeta{
        flex: 0 1 auto;
    }
    
    #legendContent{
        flex: 1 0 auto;
        height: 91%
    }
}

[class="0-legend"] {
    padding: 0;
    height: 100%;
    margin-bottom: 0;
    list-style: none;
    cursor: pointer;
    display: flex;
    flex-flow: column wrap;
    overflow: auto;

    li {
        display: inline-block;
        
        span {
            display: inline-block;
            height: 13px;
            width: 13px !important;
            margin-right: 10px;
            margin-top: 4px;
        } 
    }

    li.hidden {
        text-decoration: line-through;
        
        span{
            background-color: transparent !important;
            border: 2px solid;
        }
    }
}

